.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}

/*****************  Card-section *****************/
.card-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 95%;
  height: 30rem;
  padding: 0.8rem;
  margin-top: 4rem;
  border-radius: 2rem;
  border-top-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  background-color: var(--cards-bg);
}
.article-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.article-info {
  width: 12vw;
  font-size: 1rem;
  font-weight: 600;
}
.article-content {
  margin-left: 2rem;
}
.right-info {
  margin-left: 6rem;
}

.left-info {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article-owner {
  display: flex;
  margin-bottom: 1rem;
}
.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #8e42ea;
}

.text-info {
  margin-left: 60px;
}
.article-owner-name {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 10px;
}

.mini {
  display: flex;
}
.mini-btns {
  height: 4rem;
}
.mini button {
  width: 6rem;
  padding: 0.3rem;
  background-color: #efecec;
  color: blueviolet;
  border-radius: 5px;
  border: none;
}

.main-btn {
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 1px;
}
.read-more {
  width: 10rem;
  border-radius: 5px;
  background-color: var(--btn);
  color: var(--text-light);
  border: none;
  padding: 0.5rem;
  border-radius: 9px;
}
.right-info img {
  margin-top: 4rem;
  width: 80%;
  height: 70%;
  border-radius: 2rem;
  border-bottom-right-radius: 9rem;
}

/*****************  articles section *****************/

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  margin-top: 10px;
}
.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #c2a9ec;
}
.dots :first-child {
  background-color: #8e42ea;
}

.grid-search-text {
  text-align: center;

  margin-bottom: 25px;
}
.search-box {
  border: none;
  border-radius: 0;
  outline: none;
  padding: 10px;
}
.search-box::placeholder {
  color: #8e42ea;
}
.grid-search-text input {
  text-align: center;
  border-radius: 10px;
  padding: 8px;
  border-color: #8e42ea;
  background-color: #f2f2f2;
}
.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: 95%;
}
.grid-item img {
  margin-top: 4rem;
  margin-left: 2rem;
  width: 23vw;
  height: 30vh;
  border-radius: 2rem;
  border-bottom-right-radius: 9rem;
}
.grid-item {
  position: relative;
  margin-left: 1rem;
  width: 100%;
  background-color: var(--cards-bg);
  margin-bottom: 4rem;
  border-radius: 2rem;
  border-bottom-right-radius: 8rem;
}
.grid-article-owner {
  display: flex;
  color: #d9d9d9;
  font-weight: 600;
  position: absolute;
  bottom: 22rem;
  left: 10%;
}

.grid-article-title {
  font-size: 2rem;
  margin-bottom: 0.2rem;
}
.grid-article-content {
  display: flex;

  flex-direction: column;
  margin-left: 2rem;
  line-height: 1.5rem;
  margin-top: 0.6rem;
}
.grid-article-info {
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 0.1rem;
  width: 10vw;
}
.grid-mini-buttons {
  display: flex;
}
.grid-mini-buttons .keras {
  width: 6rem;
  padding: 0.5rem;
  background-color: #efecec;
  color: blueviolet;
  border-radius: 5px;
  border: none;
}
.grid-mini-buttons .python {
  width: 7rem;
  background-color: #efecec;
  color: blueviolet;
  border-radius: 5px;
  border: none;
}
.grid-read-more {
  width: 10rem;
  border-radius: 9px;

  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 9px;
  top: 0;
  bottom: 1ch;
  background-color: var(--btn);
}
/*****************  footer section *****************/
.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8rem;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-right: 10rem;
}
.arrow {
  color: #8e42ea;
}
.numbers span {
  color: #c2a9ec;
  font-size: 1rem;
  font-weight: 700;
}
.numbers span:first-child {
  color: #8e42ea !important;
  font-weight: 900 !important;
}

/*****************  Responsiveness*****************/
@media screen and (min-width: 300px) and (max-width: 500px) {
  .article-title {
    font-size: 20px;
    width: 20rem;
  }
  .article-info {
    width: 15rem;
    font-weight: 500;
  }
  .right-info img {
    width: 16rem;
    height: 10rem;
    margin-right: 8rem;
    left: 5rem;
  }
  .card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .grid-section {
    grid-template-columns: 1fr;
  }
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid-item img {
    width: 55vw;
  }
  .grid-article-title {
    font-size: 20px;
  }
  .grid-article-info {
    width: 30vw;
    font-weight: 500;
  }
  .grid-article-owner {
    margin-left: 5rem;
    bottom: 22rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 910px) {
  .grid-section {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    gap: 2rem;
  }
  .grid-article-owner {
    bottom: 25rem;
  }
  .grid-article-info {
    width: 20vw;
  }
  .grid-article-title {
    font-size: 20px;
  }
  .grid-item:last-child {
    grid-column: span 2;
  }
  .grid-item:last-child img {
    width: 40vw;
  }
  .article-title {
    width: 45vw;
  }
  .article-info {
    width: 30vw;
  }
  .right-info img {
    height: 50vh;
    width: 30vw;
  }
}
@media screen and(min-width:684px) and (max-width: 1000px) {
  .grid-section {
    width: 100%;
  }
  .grid-item {
    width: 16rem;
  }
  .grid-section {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    gap: 2rem;
  }
  .grid-item:last-child {
    grid-column: span 2;
    justify-self: center;
    width: 90vw;
  }
  .grid-item:last-child img {
    width: 44vw;
    height: 40vh;
  }
  .grid-article-info {
    width: 30vw;
    font-size: small;
  }
  .grid-article-owner {
    margin-left: 6px;
    bottom: 18rem;
  }
  .articles {
    overflow: hidden;
  }
  .grid-item img {
    width: 25vw;
  }
  .article-info {
    width: 30vw;
  }
  .article-title {
    width: 40vw;
  }
  .right-info img {
    width: 35vw;
    height: 55vh;
  }
  .grid-article-title {
    font-size: medium;
  }
}

@media screen and (min-width: 905px) and (max-width: 1024px) {
  .article-title {
    width: 40vw;
  }
  .article-info {
    width: 30vw;
  }
  .right-info img {
    height: 54vh;
  }
  .grid-article-title {
    font-size: 20px;
  }
  .grid-article-owner {
    bottom: 19rem;
    left: 2rem;
  }
  .grid-article-info {
    width: 20vw;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .grid-article-owner {
    bottom: 18rem;
    left: 3rem;
  }
  .article-title {
    width: 30vw;
  }
  .article-info {
    width: 25vw;
  }
  .grid-article-title {
    width: 25vw;
    font-size: 20px;
  }
  .grid-article-info {
    width: 20vw;
  }
}