
.register-container {
  display: flex;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.register-image {
  width: 25%;
  background-image: url("/src/assets/signup2.jpg");
  background-size: cover;
  background-position: center;
}
.reglinks{
  text-decoration: none;
  color: white;
}
.image-button{
  position: absolute;
  top: 25px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
}
.register-content{
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 100px;
}
.register-content h3{
  font-size: 18px;
}
.register-head{
  text-align: center;
}
.register-head span{
  display: block;
  margin-top: 16px;
}
.register-form {
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #F5F0F8;
}
.register-form span{
  display: block;
  margin-top: 16px;
}

.register-form h4 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}
.input-register{
  position: relative;
  margin-bottom: 20px;
}
.input-register input{
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  font-size: 12px;
}
.input-register label{
  padding: 10px;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.5;
  background: inherit;
  font: 12px;
}
.input-register input:focus + label, input:not(:placeholder-shown) + label {
  opacity: 1;
  transform: scale(0.75) translateY(-70%) translateX(-13px);
} 
.input-register input:focus{
  border-bottom: 1px solid #007bff;
}
.register-form button {
  width: 50%;
  height: 40px;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}
.register-form button:hover{
  background-color: #0069d9;
}
.register-form a {
  display: block;
  text-align: right;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}
.register-login{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 20px;
}
.register-login a{
  color: #007bff;
}
.terms-condition {
  width: 100%;
  margin: 1rem 0;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.terms-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.login-link {
  color: blue;
  text-decoration: none;
}

@media (max-width: 600px) {
  .register-container {
    flex-direction: column;
  }
  .register-image {
    display: none;
  }
  .register-content {
    width: 100%;
    height: 100vh;
    background-image: url("/src/assets/signup2.jpg");
  background-size: cover;
  background-position: center;
    padding: 20px;
  }

  .register-head span{
    display: inline;
  }
  .register-content h3{
    color: white;
  }
  .register-form {
    width: 100%;
    height: 100%;
  }
  .register-form button {
    width: 100%;
  }
  .register-login {
    width: 100%;
    color: white;
    font-weight: 700;
  }  
}
