@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    width: 100%;
    overflow-x: hidden;
}

a.active hr{
    display: block;
}
@media (max-width: 640px) {
    a.active{
       background: #000;
       color: #fff;
    }
}
::-webkit-scrollbar{
    display: block;
    width: 100%;
    height: 3px;
}
.bg-rarely{
    backdrop-filter: blur(4px);
    background: linear-gradient(to bottom right, #07bd6873, #4099ff4f);
}
